@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.header-principal {
    background-color: #0097b2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header-principal .home {
    display: flex;
    flex-direction: row;
}

#icon-casinha {
    width: 2.5em;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    flex: 1;
}

.header-principal nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 13em;
    gap: 2em;
}

.header-principal nav a {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
}

.header-principal nav span #icon, .header-principal .home #icon-casinha {
    height: 2.1em;
    width: 2.1em;
}

.pesquisa-autor button .icon-pesquisa, .pesquisa-livros button .icon-pesquisa {
    height: 3.5em;
    width: 3.5em;
}

.titulo-e-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pesquisa-autor, .pesquisa-livros {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    gap: 2%;
}

.pesquisa-autor .input-autor, .pesquisa-livros .input-livro,
.pesquisa-autor .input-categoria, .pesquisa-livros .input-categoria {
    height: 2.2em;
    border-radius: 20px;
}

.pesquisa-autor button, .pesquisa-livros button {
    border: 1px solid white;
    background-color: white;
}

.input-autor, .input-livro {
    width: 56%;
    font-size: 15px;
}

.input-categoria {
    width: 25%;
    font-size: 16px;
}

.autores-mais-recentes, .livros-mais-recentes {
    font-family: 'Roboto', sans-serif;
    margin-left: 2%;
    position: relative;
    top: 0.3em;
}

.livros-mais-recentes {
    position: relative;
    top: 1em;
}

.txt-direitos {
    margin-left: 2%;
}

.linha-separar {
    border: none;
    height: 0.1px;
    background-color: black;
    position: relative;
    top: 1em;
    z-index: 1;
}

.autores-mais-recentes .autores, .livros-mais-recentes .livros {
    display: flex;
    align-items: center;
    width: 100%;
}

.autores-mais-recentes .autores .txt, .livros-mais-recentes .livros .txt {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.autores-mais-recentes .autores .txt .nome-autor,
.livros-mais-recentes .livros .txt .nome-livro {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16.6px;
}

.autores-mais-recentes .autores .txt .tempo-insercao,
.livros-mais-recentes .livros .txt .tempo-insercao {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    font-size: 12.5px;
}

.autores-mais-recentes .autores {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.livros-mais-recentes .livros {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #38b6ff;
    font-family: 'Open Sans', sans-serif;
    height: 3em;
    justify-content: space-between;
    width: 100%;
}

footer .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 13em;
    margin-right: 2%;
    gap: 4%;
}

footer .links a {
    color: black;
    text-decoration: none;
}